<!DOCTYPE html>
<html lang="en">
<head>
    <style>
        #progress {
          width: 50%;
          height: 30px;
          position: relative;
          background-color: #ddd;
        }

        #tempBar {
          background-color: #4CAF50;
          width: 10px;
          height: 30px;
          position: absolute;
        }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prepare Mix</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="/static/fontawesome-free-5.6.3-web/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style and Colors -->
    <link rel="stylesheet" href="/static/bootstrap4-neon-glow.min.css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
    <meta charset="UTF-8">
    <script type=text/javascript src="{{ url_for('static', filename='jquery.js') }}"></script>
    <title>Mixing</title>
</head>
<body>
        <dl>
           {{ f }}
        </dl>
        <center><h1 style="align-content: center">Mixing!</h1></center>
        <center><div class="lead mb-3 text-mono text-success">Making your Mix. Please Relax and wait</div></center>

        <div class='row'>
            <div class="col-6">
                <h4>Temperature Monitor</h4>
                <div id = "progress">
                    <div id="tempBar"></div>
                </div>
                <div>
                    <p id="demo"></p>
                </div>
            </div>
            <div class="col-6">
                <h4>Mix information</h4>
                <p>agar</p>
                <small class="text-muted" id="agar"> q1</small>
                <p>water</p>
                <small class="text-muted" id="water"> q2 </small>
                <p>glycerin</p>
                <small class="text-muted" id="glyc"> q3 </small>
            </div>
        </div>
        <script type=text/javascript>
            var t;
            setInterval(actualize,3000);
            function actualize(){
            $(document).ready(function () {
               $.getJSON($SCRIPT_ROOT + '_showing',{
               }, function (data) {
                   $("#demo").text(data.temp)
               });
               return false;
            });}
        </script>
            <script type=text/javascript>
              var tempBar = document.getElementById("tempBar");
              var width = 0;
              var timer = setInterval(actualize_temp, 1000);
              function actualize_temp() {
                //window.location.assign("{{ url_for('mixing') }}");
                if (width == 100) {
                  clearInterval(timer);
                } else {
                  //width++;
                  width = parseInt(document.getElementById("demo").innerHTML) * 10;
                  tempBar.style.width = width*2 + '%';
                }
              }
              // Storing data:
              var myObj = {name: "HI", age: 31, city: "New York"};
              var myJSON = JSON.stringify(myObj);
              localStorage.setItem("testJSON", myJSON);


              // Retrieving data:
              text = localStorage.getItem("testJSON");
              obj = JSON.parse(text);
              document.getElementById("demo").innerHTML = obj.name;
        </script>
        <script type=text/javascript>
          //jquery
          $SCRIPT_ROOT = {{ request.script_root|tojson|safe }};
          $(function() {
            $('a#calculate').on('click', function() {
              $.getJSON($SCRIPT_ROOT + '/_add_numbers', {
                a: $('input[name="a"]').val(),
                b: $('input[name="b"]').val()
              }, function(data) {
                $("#result").text("hey");
              });
              return false;
            });
          });
        </script>
        <script>
            document.getElementById("agar").innerHTML = {{ agarq }};
            document.getElementById("water").innerHTML = {{ waterq }} ;
            document.getElementById("glyc").innerHTML = {{ glycq }} ;
            document.getElementById("agar").innerHTML = document.getElementById("agar").innerHTML  + " (g)"
            document.getElementById("water").innerHTML = document.getElementById("water").innerHTML  + " (ml)"
            document.getElementById("glyc").innerHTML = document.getElementById("glyc").innerHTML  + " (ml)"
        </script>

</body>
</html>