<!DOCTYPE html>
<html lang="en">

  <head>
    <style>
      .form-control { display: inline-block !important; }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Mixing!</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="/static/fontawesome-free-5.6.3-web/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style and Colors -->
    <link rel="stylesheet" href="/static/bootstrap4-neon-glow.min.css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>
  </head>

  <body>
    <!-- Upside Buttons -->
    <div class="navbar-dark text-white">
      <div class="container">

        <nav class="navbar px-0 navbar-expand-lg navbar-dark">

          <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
          </button>

          <div class="collapse navbar-collapse" id="navbarNavAltMarkup">

            <div class="navbar-nav">
              <a href="{{url_for('main')}}" class="pl-md-0 p-3 text-light">Home</a>
              <a href="{{ url_for('library') }}" class="p-3 text-decoration-none text-light">Library</a>
              <a href="{{ url_for('prepare')}}" class="p-3 text-decoration-none text-light">Prepare a Mix</a>
            </div>

          </div>

        </nav>

      </div>
    </div>

    <!-- Main Body-->
    <div class="container py-5 mb5">
      <!-- Title -->
      <h1 class="mb-5">Preparing the Mix</h1>
      <!-- MATERIALS INPUT -->
      <div class="row py-4">
        <!-- Size & Distribution -->
        <div class="col-md-8 order-md-2 mb-4">
          <!-- Subtitle -->
          <h4 class="d-flex justify-content-between align-items-center mb-3">
            <span class="text-muted">Materials</span>
            <span class="badge badge-primary badge-pill">4 base materials available</span>
          </h4>
          <!-- Listed Container-->
          <from action = "{{ url_for('mixing') }}">
          <ul class="list-group">
            <!-- Material 1 -->
            <li class="list-group-item d-flex justify-content-between lh-condensed">
                <div class="col-9">
                  <h6 class="my-0">Agar Agar</h6>
                  <small class="text-muted">Use: binder Type: polysaccharide Origin: alga </small>
                </div>
                <div class = "col-3" style="text-align: right">
                  <rigth><input type="number" class="form-control" id="Agar" placeholder="0 (g)" required onchange="sumar(this.value, 0)"></rigth>
                </div>
            </li>
            <!-- Material 2 -->
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="col-9">
                <h6 class="my-0">Glycerin</h6>
                <small class="text-muted">Use: Type: poly-ol Origin: propylene (not bio ingredient :( ) </small>
              </div>
              <div class = "col-3" style="text-align: right">
                <rigth><input type="number" class="form-control" id="Glycerin" placeholder="0 (ml)" required onchange="sumar(this.value, 1)"></rigth>
              </div>
            </li>
            <!-- Material 3 -->
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="col-9">
                <h6 class="my-0">Common Water</h6>
                <small class="text-muted">Use: solvent Type: water plus ions and unknown traces Origin: uncertain</small>
              </div>
              <div class = "col-3" style="text-align: right">
                <rigth><input type="number" class="form-control" id="water" placeholder="0 (ml)" required onchange="sumar(this.value, 2)"></rigth>
              </div>
            </li>
            <!-- Material 4 -->
            <li class="list-group-item d-flex justify-content-between lh-condensed">
              <div class="col-9">
                <label for="Add">Additive</label>
                <select class="custom-select d-block w-100" id="Add" required>
                  <option value="">Choose...</option>
                  <option>Coffee</option>
                  <option>Cornstarch</option>
                  <option>Detergent</option>
                  <option>Orange peel</option>
                  <option>other</option>
                  <input style="visibility: hidden">
                </select>
              </div>
              <div class = "col-3" style="text-align: right">
                <rigth><input type="number" class="form-control" id="Additive" placeholder="0 (g)" required onchange="sumar(this.value, 3)"></rigth>
              </div>
            </li>
            <!-- Total -->
            <li class="list-group-item d-flex justify-content-between">
              <span>Mix Number</span>
              <strong><p id="sum"></p></strong>
            </li>
            <!-- Submit -->
            <li class="list-group-item d-flex justify-content-between">
              <right></right><a type="submit" class="btn btn-primary" href="{{ url_for('mixing') }}">Mix</a></right>
            </li>
          </ul>
          </from>
        </div>
      </div>
      <small class="text-muted">BioMixer Interface 1.1 FabLab Uchile</small>
    </div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
    <script>
        var values = [0,0,0,0];
        /* Sumar dos números. */
        function sumar (valor1, indice) {
            valor = parseFloat(valor1); // Convertir el valor a un entero (número).
            if (values[indice] != valor){
            	if (isNaN(valor)){
                	valor = 0;
                }
                values[indice] = valor;
                var i;
                var total = 0;
                for (i=0; i <3; i++){
                    total = total + values[i];

                }
                values[3] = total;
                // window.alert(values)
            }
        // Colocar el resultado de la suma en el control "span".
        document.getElementById('sum').innerHTML = values[3];
        }
    </script>
  </body>

</html>
