{% extends 'base.html' %}
{% load static %}
    {% block HEAD %}
    <style>
        .form-control { display: inline-block !important; }
    </style>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <title>Prepare Mix</title>

    <!-- Fonts -->
    <link rel="stylesheet" href="/static/fontawesome-free-5.6.3-web/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">

    <!-- Style and Colors -->
    <link rel="stylesheet" href="/static/bootstrap4-neon-glow.min.css">
    <link rel='stylesheet' href='//cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'>

    <!-- Script -->
    {#  <script type=text/javascript src="{% static 'jquery.js' %}"></script> #}
    {% endblock %}

{% block body %}
<!-- Main Body-->
<div class="container py-5 mb5">
    <!-- Title -->
    <h1 class="mb-5">Preparing the Mix</h1>
    <!-- MATERIALS INPUT -->
    <div class="row py-4">
        <!-- Size & Distribution -->
        <div class="col-md-8 order-md-2 mb-4">
            <!-- Subtitle -->
            <h4 class="d-flex justify-content-between align-items-center mb-3">
                <span class="text-muted">Materials</span>
                <span class="badge badge-primary badge-pill">4 base materials available</span>
            </h4>
            <!-- Listed Container-->
            <form id="proportion" method="post">
                <ul class="list-group">
                    <!-- Material 1 -->
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div class="col-9">
                            <h6 class="my-0">Agar Agar</h6>
                            <small class="text-muted">Use: binder Type: polysaccharide Origin: alga </small>
                        </div>
                        <div class = "col-3" style="text-align: right">
                            <rigth><input type="number" class="form-control" name="agar" id="agar" placeholder="0 (g)" required onchange="tagg(this.value, 0)"></rigth>
                        </div>
                    </li>
                    <!-- Material 2 -->
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div class="col-9">
                            <h6 class="my-0">Glycerin</h6>
                            <small class="text-muted">Use: Type: poly-ol Origin: propylene (not bio ingredient :( ) </small>
                        </div>
                        <div class = "col-3" style="text-align: right">
                            <rigth><input type="number" class="form-control" id="glycerin" placeholder="0 (ml)" required onchange="tagg(this.value, 1)"></rigth>
                        </div>
                    </li>
                    <!-- Material 3 -->
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div class="col-9">
                            <h6 class="my-0">Common Water</h6>
                            <small class="text-muted">Use: solvent Type: water plus ions and unknown traces Origin: uncertain</small>
                        </div>
                        <div class = "col-3" style="text-align: right">
                            <rigth><input type="number" class="form-control" id="water" placeholder="0 (ml)" required onchange="tagg(this.value, 2)"></rigth>
                        </div>
                    </li>
                    <!-- Material 4 -->
                    <li class="list-group-item d-flex justify-content-between lh-condensed">
                        <div class="col-9">
                            <label for="Add">Additive</label>
                            <select class="custom-select d-block w-100" id="Add" required>
                                <option value="">Choose...</option>
                                <option>Coffee</option>
                                <option>Cornstarch</option>
                                <option>Detergent</option>
                                <option>Orange peel</option>
                                <option>other</option>
                                <input style="visibility: hidden">
                            </select>
                        </div>
                        <div class = "col-3" style="text-align: right">
                            <rigth><input type="number" class="form-control" id="Additive" placeholder="0 (g)" required onchange="tagg(this.value, 3)"></rigth>
                        </div>
                    </li>
                    <!-- Total -->
                    <li class="list-group-item d-flex justify-content-between">
                        <span>Mix Number</span>
                        <strong><p id="sum"></p></strong>
                    </li>
                    <!-- Submit -->
                    <li class="list-group-item d-flex justify-content-between">
                        <right></right><a href="{% url 'interface:mixing' %}" id="send" type="submit" class="btn btn-primary">Mix</a></right>
                    </li>
                </ul>
            </form>
        </div>
    </div>
    <small class="text-muted">BioMixer Interface 1.1 FabLab Uchile </small>
    <div><left></left><small id="ready" class="text-muted" onchange="load">Mix status: not ready</small></div>
</div>
{% endblock %}
