<!DOCTYPE html>
{% load static %}
<html lang="en">
<head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <!-- Flav icon -->
    <link rel="icon" href="{% static 'img/biofabrication_node_identity/logo.svg'   %}"/>
    <link rel="stylesheet" href="../static/fontawesome-free-5.6.3-web/css/all.css" integrity="sha384-UHRtZLI+pbxtHCWp1t77Bi1L4ZtiqrqD80Kn4Z8NTSRyMA2Fd33n5dQ8lWUE00s/" crossorigin="anonymous">
    <link rel="stylesheet" href="../static/bootstrap4-neon-glow.min.css">
    <link href="https://fonts.googleapis.com/css?family=Roboto" rel="stylesheet">
    <!-- <link rel='stylesheet' href='https://cdn.jsdelivr.net/font-hack/2.020/css/hack.min.css'> -->
    <link rel="stylesheet" href="{% static 'css/biofabrication_node_identity.css' %}">
    {% block HEAD %}
    {% endblock %}
</head>
<body>
    <!-- Button Menu (move between pages) -->
    <div class="navbar-dark text-white">
        <div class="container">
            <div class="m-3 col-xl-4">
                <a href="{% url 'back_end:home' %}">
                    <img
                            src="{% static 'img/biofabrication_node_identity/Logo_NBD 1.png' %}"
                            style="height: 5em"
                    >
                </a>
            </div>
            <nav class="navbar px-0 navbar-expand-lg navbar-dark">
                <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
                    <span class="navbar-toggler-icon"></span>
                </button>
                <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
                    <div class="navbar-nav">
                        <!-- <a href="{% url 'back_end:home' %}" class="pl-md-0 p-3 text-light">Home</a> -->
                        <a href="{% url 'back_end:library' %}" class="p-3 text-decoration-none text-light">Library</a>
                        <a href="{% url 'back_end:preparing' %}" class="p-3 text-decoration-none text-light">Prepare a Mix</a>
                    </div>
                </div>
            </nav>
        </div>
    </div>

    {% block body %}
    {% endblock %}

    {% block footer %}
        <div class="container">
            <img src="{% static 'img/biofabrication_node_identity/Logo_NBD_white.png' %}" style="height: 3em">
        </div>
    {% endblock %}
</body>

{% block JS %}
    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js" integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo" crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.6/umd/popper.min.js" integrity="sha384-wHAiFfRlMFy6i5SRaxvfOCifBUQy1xHdJ/yoi7FRNXMRBu5WHdZYu1hA6ZOblgut" crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.2.1/js/bootstrap.min.js" integrity="sha384-B0UglyR+jN6CkvvICOB2joaf5I4l3gm9GU6Hc1og6Ls7i6U/mkkaduKaBhlAXv9k" crossorigin="anonymous"></script>
{% endblock %}
</html>