{% extends 'base.html' %}

{% block HEAD %}
    <title> Bio Mixer</title>
    <link rel="stylesheet" href="../static/css/modifiers.css">
    <link rel="stylesheet" href="../static/dropzone/dist/basic.css">
    <link rel="stylesheet" href="../static/dropzone/dist/dropzone.css">
{% endblock %}
{%  block body%}

    <!-- Main Page -->
    <div class="jumbotron bg-transparent mb-0 radius-0">
        <div class="container">
            <div class="row">
                <div class="col-xl-8">
                    <div class="row">
                        <div class="col-xl-3">
                            <h1 class="display-2">Bio Mixe<span class="vim-caret">r</span></h1>
                        </div>
                    </div>
                    <!-- Title -->
                    <div class="lead mb-3 text-mono text-success">Bio Mixer interface 1.1</div>
                    <!-- Description -->
                    <div class="text-darkgrey text-mono my-2">Welcome to Bio Mixer. A new experience in Material Fabrication</div>
                    <!-- Client -->
                    <p class="text-grey text-spacey">
                        FabLab Uchile Prototype
                    </p>

                    <div class="text-mono">
                        <!-- Button 1 -->
                        <a href="{% url 'back_end:library' %}"
                           title="Download Theme"
                           class="btn btn-fab-green btn-shadow px-3 my-2 ml-0 text-left">
                            Check Material Library
                        </a>
                        <!-- Button 2 -->
                        <a href="{% url 'back_end:preparing' %}"
                           class="btn btn-fab-orange btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                            Preparing a Mix
                        </a>

                        <!-- Button 3 -->
                        <a id="new_library" onclick="makeVisible('dropzone')"
                           class="btn btn-fab-purple btn-shadow px-3 my-2 ml-0 ml-sm-1 text-left">
                            Import a Recipe
                        </a>
                    </div>
                </div>
                <div class="col-xl-4">
                    <div id="dropzone" class="container hidden_element">
                        <h1>Upload Zone</h1>
                        <p>Upload your file here, you can drag an drop it!</p>
                        <!-- DROP ZONE-->
                        <form   action="/file-upload"
                                class="dropzone"
                                id="my-dropzone">

                            <div class="fallback">
                                <input name="file" type="file" multiple/>
                            </div>
                            {% csrf_token %}
                        </form>
                        <br>
                        <span style="height: 6em"></span>
                        <span id="dzone-submit" class="button btn-success p-2 m-4 rounded-pill" onclick="process()">Subir Archivos</span>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="container py-5">
        <h1></h1>
        <!-- Credits to the HTML template form -->
        <!--
        <p>Thank you for downloading this theme. If you have trouble or find a bug, please open an issue on GitHub:<br>
          <a href="https://github.com/HackerThemes/theme-machine">https://github.com/HackerThemes/theme-machine</a></p>
        -->
        <!-- Developer info-->
        <p class ="text-darkgrey text-mono my-2">Created by Marcelo Becerra A. consulting to marcelo.becerra@ug.uchile.cl</p>
    </div>
{% endblock %}

{% block JS %}
    <script src="../static/dropzone/dist/dropzone.js"></script>
    <script src="../static/dropzone/myDzone.js"></script>
    <script src="../static/js/extraFunctions.js"></script>
{% endblock %}
