{% extends 'base.html' %}
{% load static %}

{% block HEAD %}
    <link rel="stylesheet" href="{% static 'css/progressbar.css' %}">
    <link rel="stylesheet" href="{% static 'css/figures.css' %}">
{% endblock %}

{% block body %}
<div id="dashboard" class="container shadow">
    <div id="first-row" class="row">
        <div id="pipeline" class="container border-info">
            <h5 class="mybadge mybadge-primary mybadge-pill"> Avance del Proceso (Estado)</h5>
            <div class="row mt-4">
                <div class="col-10">
                    <ul id="progressbar">
                        {% for material, index in materials_and_index %}
                        <li class="inactive" id="m{{ index }}"><strong>{{ material }}</strong></li>
                        {% endfor %}
                    </ul>
                </div>
                <div class="col-lg">
                    <button id="toggle" class="btn btn-fab-orange btn-shadow" onclick="linearToggleProgressbar()">
                        Toggle Material
                    </button>
                    <button id="start-stop" class="btn btn-fab-green btn-shadow" onclick="switchStartStop('start-stop')">
                        Start
                    </button>
                </div>
            </div>

        </div>
    </div>

    <div id="second-row" class="row">
        <div id="security-status" class="col-6 container">
            <h5 class="mybadge mybadge-primary mybadge-pill"> Indicadores de Seguridad</h5>
            <div class="row mt-4">
                <label class="col-xl-4">Posición de la Olla</label>
                <div class="col-2">
                    <img src="../static/img/mixing/check.svg" style="width: 30px">
                </div>
            </div>
        </div>
        <div id="space" class="col-2 container">
            <span style="width: 5em"></span>
        </div>
        <div id="composition" class="col-4 container">
            <h5 class="mybadge mybadge-primary mybadge-pill"> Composición del Material</h5>
            <canvas id="myChart" width="400" height="400"></canvas>
        </div>
    </div>

    <div id="third-row" class="row">
        <div id="" class="col-12 container align-self-lg-start">
            <h4 class="mybadge mybadge-primary mybadge-pill"> Machine raw input</h4>
            <div class="bg-dark">
                <div class="text-mono" style="width: 100%; height: 10em" >
                    <p class="text-white">perro</p>
                </div>
            </div>
        </div>
    </div>

</div>

{% endblock %}

{% block JS %}
    <script src="https://cdn.jsdelivr.net/npm/chart.js@2.8.0/dist/Chart.js"></script>
    <script id="Sample">
        var ctx = document.getElementById('myChart').getContext('2d');
        var myChart = new Chart(ctx, {
            type: 'pie',
            data: {
                labels: [
                    {% for material in materials %}
                        '{{ material }}',
                    {% endfor %}
                ],
                datasets: [{
                    label: '# of Votes',
                    data: [
                        {% for value in values %}
                            {{ value }},
                        {% endfor %}
                    ],
                    backgroundColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(93, 102, 255, 1)',
                    ],
                    borderColor: [
                        'rgba(54, 162, 235, 1)',
                        'rgba(255, 206, 86, 1)',
                        'rgba(75, 192, 192, 1)',
                        'rgba(153, 102, 255, 1)',
                        'rgba(153, 102, 255, 1)',
                    ],
                    borderWidth: 1
                }]
            },
            options: {
                scales: {
                    x: {
                        beginAtZero: true
                    }
                }
            }
        });

    </script>
    <script src="../static/js/extraFunctions.js"></script>
{% endblock %}