{% extends 'base.html' %}

{% block body %}
    <div class="container py-5 mb5">
        <div class="col-md-8 order-md-2 mb-4">
            <form id="proportion" action="" method="POST">
                <h3 class="mb-5"> Preparing the Mix </h3>
                {% csrf_token %}
                <ul class="list-group">
                    <!-- ¿Is a proportional mix? -->
                    <li class="list-group-item">
                        <label for="is_proportional"> Make a proportional Mix</label>
                        <input onclick="makeVisible('proportional_label')" class="col-3 form-check-inline" type="checkbox" id="proportional" name="is_proportional" value="1">
                        <div id="proportional_label" style="display: none">
                            <select class="col-6 custom-select d-block w-100" id="Add">
                                <option value="">Choose...</option>
                                <option value="g">grams</option>
                                <option value="ml">milliliters</option>
                            </select>
                        </div>
                    </li>

                    <!-- Materials -->
                    {{ formset.management_form }}
                    {% for form, label in form_pack %}
                        <li class="list-group-item">
                            <div class="col-12">
                                <label>{{ label }}</label>
                                <div class="row">
                                    {{ form.material }}
                                    {{ form.value }}
                                    {{ form.type }}
                                </div>
                            </div>
                        </li>
                    {% endfor %}

                    <!-- Submit -->
                    <li class="list-group-item d-flex justify-content-between">
                        <div class="mb-1">
                            <p id="validate" style="display: none">hello</p>
                        </div>
                        <input id="send" class="btn btn-fab-purple align-self-end" type="submit" value="Mix">
                    </li>
                </ul>
            </form>
        </div>
    </div>
{% endblock %}
